USE [master]
GO
/****** Object:  Database [TiendaOnline]    Script Date: 5/8/2026 06:32:29 p. m. ******/
CREATE DATABASE [TiendaOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TiendaOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TiendaOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TiendaOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TiendaOnline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TiendaOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TiendaOnline]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcularPrecioConImpuesto]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   FUNCIÓN: PRECIO CON IMPUESTO
   ============================================================ */

CREATE FUNCTION [dbo].[fn_CalcularPrecioConImpuesto]
(
    @Precio DECIMAL(12,2),
    @PorcentajeImpuesto DECIMAL(5,2)
)
RETURNS DECIMAL(12,2)
AS
BEGIN

    RETURN @Precio +
           (@Precio * @PorcentajeImpuesto / 100);

END;
GO
/****** Object:  Table [dbo].[FamiliaProducto]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaProducto](
	[IdFamilia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[IdFamilia] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impuesto]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impuesto](
	[IdImpuesto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImpuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdImpuesto] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Precio] [decimal](12, 2) NOT NULL,
	[Costo] [decimal](12, 2) NOT NULL,
	[Imagen] [varchar](500) NULL,
	[StockMinimo] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[IdInventario] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CatalogoProductos]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   VISTA: CATÁLOGO DE PRODUCTOS
   ============================================================ */

CREATE VIEW [dbo].[vw_CatalogoProductos]
AS
SELECT
    P.IdProducto,
    P.Codigo,
    P.Nombre AS Producto,
    P.Imagen,
    F.Nombre AS Familia,
    C.Nombre AS Categoria,
    P.Precio,
    P.Costo,
    I.Porcentaje AS Impuesto,
    ISNULL(INV.CantidadDisponible, 0) AS Stock,
    P.Estado
FROM Producto P
INNER JOIN Categoria C
    ON P.IdCategoria = C.IdCategoria
INNER JOIN FamiliaProducto F
    ON C.IdFamilia = F.IdFamilia
INNER JOIN Impuesto I
    ON P.IdImpuesto = I.IdImpuesto
LEFT JOIN Inventario INV
    ON P.IdProducto = INV.IdProducto;
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaPedido] [datetime] NOT NULL,
	[Estado] [varchar](30) NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
	[Impuesto] [decimal](12, 2) NOT NULL,
	[Descuento] [decimal](12, 2) NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[DireccionEntrega] [varchar](300) NULL,
	[IdEstadoPedido] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[IdDetallePedido] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](12, 2) NOT NULL,
	[Descuento] [decimal](12, 2) NOT NULL,
	[Impuesto] [decimal](12, 2) NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductosMasVendidos]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   VISTA: PRODUCTOS MÁS VENDIDOS
   ============================================================ */

CREATE VIEW [dbo].[vw_ProductosMasVendidos]
AS
SELECT
    P.IdProducto,
    P.Nombre AS Producto,
    SUM(DP.Cantidad) AS CantidadVendida,
    SUM(DP.Subtotal) AS TotalVentas
FROM DetallePedido DP
INNER JOIN Producto P
    ON DP.IdProducto = P.IdProducto
INNER JOIN Pedido PE
    ON DP.IdPedido = PE.IdPedido
WHERE PE.Estado IN
(
    'Pagado',
    'Enviado',
    'Entregado'
)
GROUP BY
    P.IdProducto,
    P.Nombre;
GO
/****** Object:  View [dbo].[vw_VentasPorFecha]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   VISTA: VENTAS POR FECHA
   ============================================================ */

CREATE VIEW [dbo].[vw_VentasPorFecha]
AS
SELECT
    CAST(PE.FechaPedido AS DATE) AS Fecha,
    COUNT(DISTINCT PE.IdPedido) AS CantidadPedidos,
    SUM(PE.Total) AS Ingresos
FROM Pedido PE
WHERE PE.Estado IN
(
    'Pagado',
    'Enviado',
    'Entregado'
)
GROUP BY
    CAST(PE.FechaPedido AS DATE);
GO
/****** Object:  View [dbo].[vw_ProductosStockBajo]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   VISTA: PRODUCTOS CON STOCK BAJO
   ============================================================ */

CREATE VIEW [dbo].[vw_ProductosStockBajo]
AS
SELECT
    P.IdProducto,
    P.Nombre,
    I.CantidadDisponible,
    P.StockMinimo
FROM Producto P
INNER JOIN Inventario I
    ON P.IdProducto = I.IdProducto
WHERE I.CantidadDisponible <= P.StockMinimo;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ProductosPorCategoria]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   FUNCIÓN TIPO TABLA:
   PRODUCTOS POR CATEGORÍA
   ============================================================ */

CREATE FUNCTION [dbo].[fn_ProductosPorCategoria]
(
    @IdCategoria INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT
        P.IdProducto,
        P.Nombre,
        P.Imagen,
        P.Precio,
        P.Costo,
        I.CantidadDisponible AS Stock
    FROM Producto P
    INNER JOIN Inventario I
        ON P.IdProducto = I.IdProducto
    WHERE P.IdCategoria = @IdCategoria
      AND P.Estado = 1
);
GO
/****** Object:  Table [dbo].[BitacoraSistema]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraSistema](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Accion] [varchar](100) NOT NULL,
	[TablaAfectada] [varchar](100) NULL,
	[IdRegistro] [int] NULL,
	[Descripcion] [varchar](500) NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[IdCarrito] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Estado] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaDescuento]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaDescuento](
	[IdCategoria] [int] NOT NULL,
	[IdDescuento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC,
	[IdDescuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompraProveedor]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompraProveedor](
	[IdCompraProveedor] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
	[Impuesto] [decimal](12, 2) NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompraProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Descuento]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descuento](
	[IdDescuento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDescuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCarrito]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCarrito](
	[IdDetalleCarrito] [int] IDENTITY(1,1) NOT NULL,
	[IdCarrito] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompraProveedor]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompraProveedor](
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdCompraProveedor] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](12, 2) NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleListaDeseos]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleListaDeseos](
	[IdListaDeseos] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[FechaAgregado] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdListaDeseos] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleProforma]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleProforma](
	[IdDetalleProforma] [int] IDENTITY(1,1) NOT NULL,
	[IdProforma] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](12, 2) NOT NULL,
	[Descuento] [decimal](12, 2) NOT NULL,
	[Impuesto] [decimal](12, 2) NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleProforma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DireccionUsuario]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DireccionUsuario](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Provincia] [varchar](100) NOT NULL,
	[Canton] [varchar](100) NOT NULL,
	[Distrito] [varchar](100) NOT NULL,
	[DireccionExacta] [varchar](300) NOT NULL,
	[CodigoPostal] [varchar](20) NULL,
	[Principal] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envio]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envio](
	[IdEnvio] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdDireccion] [int] NOT NULL,
	[EmpresaEnvio] [varchar](150) NULL,
	[NumeroSeguimiento] [varchar](100) NULL,
	[FechaEnvio] [datetime] NULL,
	[FechaEntrega] [datetime] NULL,
	[Estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPago]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPago](
	[IdEstadoPago] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPedido]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPedido](
	[IdEstadoPedido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluacionProducto]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluacionProducto](
	[IdEvaluacion] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Calificacion] [int] NOT NULL,
	[Comentario] [varchar](500) NULL,
	[FechaEvaluacion] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[NumeroFactura] [varchar](50) NOT NULL,
	[FechaEmision] [datetime] NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
	[Impuesto] [decimal](12, 2) NOT NULL,
	[Descuento] [decimal](12, 2) NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[UrlPDF] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaDescuento]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaDescuento](
	[IdFamilia] [int] NOT NULL,
	[IdDescuento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC,
	[IdDescuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialAcceso]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialAcceso](
	[IdHistorialAcceso] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaAcceso] [datetime] NOT NULL,
	[DireccionIP] [varchar](50) NULL,
	[Exitoso] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorialAcceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaDeseos]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaDeseos](
	[IdListaDeseos] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdListaDeseos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[IdMetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoInventario]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoInventario](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdInventario] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[TipoMovimiento] [varchar](30) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Motivo] [varchar](300) NULL,
	[FechaMovimiento] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[IdNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Mensaje] [varchar](500) NOT NULL,
	[Tipo] [varchar](50) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Leida] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[Referencia] [varchar](100) NULL,
	[Monto] [decimal](12, 2) NOT NULL,
	[FechaPago] [datetime] NULL,
	[Estado] [varchar](30) NOT NULL,
	[IdMetodoPago] [int] NULL,
	[IdEstadoPago] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoDescuento]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoDescuento](
	[IdProducto] [int] NOT NULL,
	[IdDescuento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdDescuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoProveedor]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoProveedor](
	[IdProducto] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[PrecioCompra] [decimal](12, 2) NOT NULL,
	[CodigoProveedor] [varchar](100) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proforma]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proforma](
	[IdProforma] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdDireccion] [int] NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaVencimiento] [date] NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
	[Impuesto] [decimal](12, 2) NOT NULL,
	[Descuento] [decimal](12, 2) NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [varchar](30) NOT NULL,
	[UrlPDF] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProforma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Identificacion] [varchar](50) NOT NULL,
	[Correo] [varchar](150) NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 5/8/2026 06:32:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BitacoraSistema] ON 

INSERT [dbo].[BitacoraSistema] ([IdBitacora], [IdUsuario], [Accion], [TablaAfectada], [IdRegistro], [Descripcion], [Fecha]) VALUES (1, 1, N'Crear pedido', N'Pedido', 1, N'Se creó un pedido desde Swagger', CAST(N'2026-08-04T16:40:11.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[BitacoraSistema] OFF
GO
SET IDENTITY_INSERT [dbo].[Carrito] ON 

INSERT [dbo].[Carrito] ([IdCarrito], [IdUsuario], [FechaCreacion], [Estado]) VALUES (1, 1, CAST(N'2026-08-04T16:25:45.340' AS DateTime), N'Activo')
SET IDENTITY_INSERT [dbo].[Carrito] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [IdFamilia], [Nombre], [Descripcion], [Estado]) VALUES (1, 1, N'Cuidado Facial', N'Productos para el cuidado de la piel del rostro', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [IdFamilia], [Nombre], [Descripcion], [Estado]) VALUES (2, 1, N'Cuidado Capilar', N'Productos para el cuidado del cabello', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [IdFamilia], [Nombre], [Descripcion], [Estado]) VALUES (3, 1, N'Cuidado Corporal', N'Productos para higiene e hidratación corporal', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
INSERT [dbo].[CategoriaDescuento] ([IdCategoria], [IdDescuento]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[CompraProveedor] ON 

INSERT [dbo].[CompraProveedor] ([IdCompraProveedor], [IdProveedor], [IdUsuario], [FechaCompra], [Subtotal], [Impuesto], [Total], [Estado]) VALUES (1, 1, 1, CAST(N'2026-08-04T16:34:43.177' AS DateTime), CAST(50000.00 AS Decimal(12, 2)), CAST(6500.00 AS Decimal(12, 2)), CAST(56500.00 AS Decimal(12, 2)), N'Pendiente')
INSERT [dbo].[CompraProveedor] ([IdCompraProveedor], [IdProveedor], [IdUsuario], [FechaCompra], [Subtotal], [Impuesto], [Total], [Estado]) VALUES (2, 1, 1, CAST(N'2026-08-04T16:34:44.977' AS DateTime), CAST(50000.00 AS Decimal(12, 2)), CAST(6500.00 AS Decimal(12, 2)), CAST(56500.00 AS Decimal(12, 2)), N'Pendiente')
SET IDENTITY_INSERT [dbo].[CompraProveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Descuento] ON 

INSERT [dbo].[Descuento] ([IdDescuento], [Nombre], [Descripcion], [Porcentaje], [FechaInicio], [FechaFin], [Estado]) VALUES (1, N'Descuento de prueba', N'Descuento para comprobar Swagger', CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-08-01' AS Date), CAST(N'2026-08-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Descuento] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCarrito] ON 

INSERT [dbo].[DetalleCarrito] ([IdDetalleCarrito], [IdCarrito], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 1, 2, CAST(8500.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[DetalleCarrito] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompraProveedor] ON 

INSERT [dbo].[DetalleCompraProveedor] ([IdDetalleCompra], [IdCompraProveedor], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 1, 10, CAST(5000.00 AS Decimal(12, 2)), CAST(50000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[DetalleCompraProveedor] OFF
GO
INSERT [dbo].[DetalleListaDeseos] ([IdListaDeseos], [IdProducto], [FechaAgregado]) VALUES (1, 2, CAST(N'2026-08-04T16:39:08.747' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[DetallePedido] ON 

INSERT [dbo].[DetallePedido] ([IdDetallePedido], [IdPedido], [IdProducto], [Cantidad], [PrecioUnitario], [Descuento], [Impuesto], [Subtotal]) VALUES (1, 1, 1, 2, CAST(8500.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(2210.00 AS Decimal(12, 2)), CAST(17000.00 AS Decimal(12, 2)))
INSERT [dbo].[DetallePedido] ([IdDetallePedido], [IdPedido], [IdProducto], [Cantidad], [PrecioUnitario], [Descuento], [Impuesto], [Subtotal]) VALUES (2, 1, 1, 2, CAST(8500.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(2210.00 AS Decimal(12, 2)), CAST(17000.00 AS Decimal(12, 2)))
INSERT [dbo].[DetallePedido] ([IdDetallePedido], [IdPedido], [IdProducto], [Cantidad], [PrecioUnitario], [Descuento], [Impuesto], [Subtotal]) VALUES (3, 2, 1, 1, CAST(8500.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(1105.00 AS Decimal(12, 2)), CAST(8500.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[DetallePedido] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleProforma] ON 

INSERT [dbo].[DetalleProforma] ([IdDetalleProforma], [IdProforma], [IdProducto], [Cantidad], [PrecioUnitario], [Descuento], [Impuesto], [Subtotal]) VALUES (1, 1, 1, 1, CAST(8500.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(1105.00 AS Decimal(12, 2)), CAST(8500.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[DetalleProforma] OFF
GO
SET IDENTITY_INSERT [dbo].[DireccionUsuario] ON 

INSERT [dbo].[DireccionUsuario] ([IdDireccion], [IdUsuario], [Provincia], [Canton], [Distrito], [DireccionExacta], [CodigoPostal], [Principal], [Estado]) VALUES (1, 1, N'Limón', N'Talamanca', N'Cahuita', N'200 metros al sur de la escuela', N'70403', 1, 1)
SET IDENTITY_INSERT [dbo].[DireccionUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Envio] ON 

INSERT [dbo].[Envio] ([IdEnvio], [IdPedido], [IdDireccion], [EmpresaEnvio], [NumeroSeguimiento], [FechaEnvio], [FechaEntrega], [Estado]) VALUES (1, 1, 1, N'Correos de Costa Rica', N'CR-000001', CAST(N'2026-08-04T16:40:00.000' AS DateTime), CAST(N'2026-08-08T16:40:00.000' AS DateTime), N'Enviado')
SET IDENTITY_INSERT [dbo].[Envio] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoPago] ON 

INSERT [dbo].[EstadoPago] ([IdEstadoPago], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Pendiente', N'Pago pendiente de procesamiento', 1)
INSERT [dbo].[EstadoPago] ([IdEstadoPago], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Aprobado', N'Pago aprobado correctamente', 1)
INSERT [dbo].[EstadoPago] ([IdEstadoPago], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Rechazado', N'Pago rechazado', 1)
SET IDENTITY_INSERT [dbo].[EstadoPago] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoPedido] ON 

INSERT [dbo].[EstadoPedido] ([IdEstadoPedido], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Pendiente', N'Pedido creado pero todavía no confirmado', 1)
INSERT [dbo].[EstadoPedido] ([IdEstadoPedido], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Confirmado', N'Pedido confirmado por el sistema', 1)
INSERT [dbo].[EstadoPedido] ([IdEstadoPedido], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Pagado', N'Pedido cuyo pago fue aprobado', 1)
SET IDENTITY_INSERT [dbo].[EstadoPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[EvaluacionProducto] ON 

INSERT [dbo].[EvaluacionProducto] ([IdEvaluacion], [IdProducto], [IdUsuario], [Calificacion], [Comentario], [FechaEvaluacion], [Estado]) VALUES (1, 1, 1, 5, N'Excelente producto', CAST(N'2026-08-04T16:37:03.783' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[EvaluacionProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([IdFactura], [IdPedido], [NumeroFactura], [FechaEmision], [Subtotal], [Impuesto], [Descuento], [Total], [UrlPDF]) VALUES (1, 1, N'FAC-000001', CAST(N'2026-08-04T16:33:52.100' AS DateTime), CAST(17000.00 AS Decimal(12, 2)), CAST(2210.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(19210.00 AS Decimal(12, 2)), N'facturas/FAC-000001.pdf')
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
INSERT [dbo].[FamiliaDescuento] ([IdFamilia], [IdDescuento]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[FamiliaProducto] ON 

INSERT [dbo].[FamiliaProducto] ([IdFamilia], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Cuidado Personal', N'Productos destinados al cuidado, higiene y bienestar personal', 1)
SET IDENTITY_INSERT [dbo].[FamiliaProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialAcceso] ON 

INSERT [dbo].[HistorialAcceso] ([IdHistorialAcceso], [IdUsuario], [FechaAcceso], [DireccionIP], [Exitoso]) VALUES (1, 1, CAST(N'2026-08-04T15:35:00.000' AS DateTime), N'192.168.1.10', 1)
SET IDENTITY_INSERT [dbo].[HistorialAcceso] OFF
GO
SET IDENTITY_INSERT [dbo].[Impuesto] ON 

INSERT [dbo].[Impuesto] ([IdImpuesto], [Nombre], [Porcentaje], [Estado]) VALUES (1, N'IVA', CAST(13.00 AS Decimal(5, 2)), 1)
SET IDENTITY_INSERT [dbo].[Impuesto] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventario] ON 

INSERT [dbo].[Inventario] ([IdInventario], [IdProducto], [CantidadDisponible], [FechaActualizacion]) VALUES (1, 3, 30, CAST(N'2026-08-04T16:44:34.713' AS DateTime))
INSERT [dbo].[Inventario] ([IdInventario], [IdProducto], [CantidadDisponible], [FechaActualizacion]) VALUES (2, 4, 20, CAST(N'2026-08-01T11:40:49.630' AS DateTime))
INSERT [dbo].[Inventario] ([IdInventario], [IdProducto], [CantidadDisponible], [FechaActualizacion]) VALUES (3, 5, 20, CAST(N'2026-08-01T11:40:49.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[Inventario] OFF
GO
SET IDENTITY_INSERT [dbo].[ListaDeseos] ON 

INSERT [dbo].[ListaDeseos] ([IdListaDeseos], [IdUsuario], [FechaCreacion]) VALUES (1, 1, CAST(N'2026-08-04T16:38:15.240' AS DateTime))
SET IDENTITY_INSERT [dbo].[ListaDeseos] OFF
GO
SET IDENTITY_INSERT [dbo].[MetodoPago] ON 

INSERT [dbo].[MetodoPago] ([IdMetodoPago], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Tarjeta de crédito', N'Pago mediante tarjeta de crédito', 1)
INSERT [dbo].[MetodoPago] ([IdMetodoPago], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Tarjeta de débito', N'Pago mediante tarjeta de débito', 1)
INSERT [dbo].[MetodoPago] ([IdMetodoPago], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Transferencia bancaria', N'Pago mediante transferencia bancaria', 1)
SET IDENTITY_INSERT [dbo].[MetodoPago] OFF
GO
SET IDENTITY_INSERT [dbo].[MovimientoInventario] ON 

INSERT [dbo].[MovimientoInventario] ([IdMovimiento], [IdInventario], [IdUsuario], [TipoMovimiento], [Cantidad], [Motivo], [FechaMovimiento]) VALUES (1, 1, 1, N'Entrada', 5, N'Ingreso de mercancía de prueba', CAST(N'2026-08-04T16:44:14.737' AS DateTime))
INSERT [dbo].[MovimientoInventario] ([IdMovimiento], [IdInventario], [IdUsuario], [TipoMovimiento], [Cantidad], [Motivo], [FechaMovimiento]) VALUES (2, 1, 1, N'Entrada', 5, N'Ingreso de mercancía de prueba', CAST(N'2026-08-04T16:44:34.713' AS DateTime))
INSERT [dbo].[MovimientoInventario] ([IdMovimiento], [IdInventario], [IdUsuario], [TipoMovimiento], [Cantidad], [Motivo], [FechaMovimiento]) VALUES (3, 5, 2, N'Salida', 1, N'Venta del pedido #2', CAST(N'2026-08-04T20:44:14.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[MovimientoInventario] OFF
GO
SET IDENTITY_INSERT [dbo].[Notificacion] ON 

INSERT [dbo].[Notificacion] ([IdNotificacion], [IdUsuario], [Titulo], [Mensaje], [Tipo], [FechaCreacion], [Leida], [Estado]) VALUES (1, 1, N'Pedido recibido', N'Su pedido fue registrado correctamente', N'Pedido', CAST(N'2026-08-04T16:54:04.197' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Notificacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([IdPago], [IdPedido], [MetodoPago], [Referencia], [Monto], [FechaPago], [Estado], [IdMetodoPago], [IdEstadoPago]) VALUES (1, 1, N'Tarjeta de crédito', N'PAGO-PRUEBA-001', CAST(19210.00 AS Decimal(12, 2)), CAST(N'2026-08-04T15:50:00.000' AS DateTime), N'Pendiente', 1, 1)
INSERT [dbo].[Pago] ([IdPago], [IdPedido], [MetodoPago], [Referencia], [Monto], [FechaPago], [Estado], [IdMetodoPago], [IdEstadoPago]) VALUES (2, 1, N'Tarjeta de crédito', N'PAGO-PRUEBA-001', CAST(19210.00 AS Decimal(12, 2)), CAST(N'2026-08-04T15:50:00.000' AS DateTime), N'Pendiente', 1, 1)
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([IdPedido], [IdUsuario], [FechaPedido], [Estado], [Subtotal], [Impuesto], [Descuento], [Total], [DireccionEntrega], [IdEstadoPedido]) VALUES (1, 1, CAST(N'2026-08-04T16:29:53.650' AS DateTime), N'Pendiente', CAST(17000.00 AS Decimal(12, 2)), CAST(2210.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(19210.00 AS Decimal(12, 2)), N'Limón, Costa Rica', 1)
INSERT [dbo].[Pedido] ([IdPedido], [IdUsuario], [FechaPedido], [Estado], [Subtotal], [Impuesto], [Descuento], [Total], [DireccionEntrega], [IdEstadoPedido]) VALUES (2, 2, CAST(N'2026-08-04T20:44:13.547' AS DateTime), N'Pendiente', CAST(8500.00 AS Decimal(12, 2)), CAST(1105.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(9605.00 AS Decimal(12, 2)), N'Limón, Talamanca, Cahuita', 1)
SET IDENTITY_INSERT [dbo].[Pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [IdImpuesto], [Nombre], [Descripcion], [Codigo], [Precio], [Costo], [Imagen], [StockMinimo], [Estado], [FechaRegistro]) VALUES (1, 1, 1, N'Limpiador Facial Hidratante', N'Limpiador facial para uso diario', N'FAC-001', CAST(8500.00 AS Decimal(12, 2)), CAST(5000.00 AS Decimal(12, 2)), N'limpiador-facial.jpg', 5, 1, CAST(N'2026-08-01T11:40:49.620' AS DateTime))
INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [IdImpuesto], [Nombre], [Descripcion], [Codigo], [Precio], [Costo], [Imagen], [StockMinimo], [Estado], [FechaRegistro]) VALUES (2, 1, 1, N'Serum Facial', N'Serum hidratante para el rostro', N'FAC-002', CAST(12000.00 AS Decimal(12, 2)), CAST(7500.00 AS Decimal(12, 2)), N'serum-facial.jpg', 5, 1, CAST(N'2026-08-01T11:40:49.620' AS DateTime))
INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [IdImpuesto], [Nombre], [Descripcion], [Codigo], [Precio], [Costo], [Imagen], [StockMinimo], [Estado], [FechaRegistro]) VALUES (3, 2, 1, N'Shampoo Nutritivo', N'Shampoo para nutrición y cuidado capilar', N'CAP-001', CAST(6500.00 AS Decimal(12, 2)), CAST(3800.00 AS Decimal(12, 2)), N'shampoo-nutritivo.jpg', 5, 1, CAST(N'2026-08-01T11:40:49.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
INSERT [dbo].[ProductoDescuento] ([IdProducto], [IdDescuento]) VALUES (1, 1)
GO
INSERT [dbo].[ProductoProveedor] ([IdProducto], [IdProveedor], [PrecioCompra], [CodigoProveedor], [Estado]) VALUES (1, 1, CAST(5000.00 AS Decimal(12, 2)), N'PROV-FAC-001', 1)
GO
SET IDENTITY_INSERT [dbo].[Proforma] ON 

INSERT [dbo].[Proforma] ([IdProforma], [IdUsuario], [IdDireccion], [FechaCreacion], [FechaVencimiento], [Subtotal], [Impuesto], [Descuento], [Total], [Estado], [UrlPDF]) VALUES (1, 1, 1, CAST(N'2026-08-04T16:42:18.967' AS DateTime), CAST(N'2026-08-15' AS Date), CAST(8500.00 AS Decimal(12, 2)), CAST(1105.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(9605.00 AS Decimal(12, 2)), N'Pendiente', N'proformas/PRO-000001.pdf')
SET IDENTITY_INSERT [dbo].[Proforma] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IdProveedor], [Nombre], [Identificacion], [Correo], [Telefono], [Direccion], [Estado]) VALUES (1, N'Distribuidora Central', N'3101123456', N'ventas@distribuidoracentral.com', N'22223333', N'San José, Costa Rica', 1)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Administrador', N'Usuario encargado de administrar el sistema', 1)
INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Cliente', N'Usuario que compra productos en la tienda', 1)
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [IdRol], [Nombre], [Apellido], [Correo], [Contrasena], [Telefono], [FechaRegistro], [Estado]) VALUES (1, 2, N'Dayanara', N'Porras', N'dayanaraporras861@gmail.com', N'Prueba123', N'61772321', CAST(N'2026-08-04T15:30:00.000' AS DateTime), 1)
INSERT [dbo].[Usuario] ([IdUsuario], [IdRol], [Nombre], [Apellido], [Correo], [Contrasena], [Telefono], [FechaRegistro], [Estado]) VALUES (2, 2, N'Tiago', N'Elizondo', N'tiago.jwt@gmail.com', N'$2a$11$h6QbeSZ4nqKWpuO.AvzAkeO84I8g08C1K4eNtCFgQz/wP/V58ReuW', N'88888888', CAST(N'2026-08-04T18:17:13.970' AS DateTime), 1)
INSERT [dbo].[Usuario] ([IdUsuario], [IdRol], [Nombre], [Apellido], [Correo], [Contrasena], [Telefono], [FechaRegistro], [Estado]) VALUES (3, 1, N'Administrador', N'Tienda', N'admin.jwt@tienda.com', N'$2a$11$OCEr8npgzLbdiZcTFvNr0eGTrs66CO2IBiog6l1.g4GBBdoxoy4v6', N'88887777', CAST(N'2026-08-04T19:23:36.607' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categoria_Familia_Nombre]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[Categoria] ADD  CONSTRAINT [UQ_Categoria_Familia_Nombre] UNIQUE NONCLUSTERED 
(
	[IdFamilia] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_DetalleCarrito]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[DetalleCarrito] ADD  CONSTRAINT [UQ_DetalleCarrito] UNIQUE NONCLUSTERED 
(
	[IdCarrito] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Envio__9D335DC2EBFB49C5]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[Envio] ADD UNIQUE NONCLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadoPa__75E3EFCFB7C3A4C8]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[EstadoPago] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadoPe__75E3EFCF1BB0A861]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[EstadoPedido] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Evaluacion_Usuario_Producto]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[EvaluacionProducto] ADD  CONSTRAINT [UQ_Evaluacion_Usuario_Producto] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Factura__9D335DC2439E741C]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[Factura] ADD UNIQUE NONCLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Factura__CF12F9A6645D9C76]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[Factura] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FamiliaP__75E3EFCF0D2B12AF]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[FamiliaProducto] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Inventar__09889211666847F6]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[Inventario] ADD UNIQUE NONCLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ListaDeseos_Usuario]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[ListaDeseos] ADD  CONSTRAINT [UQ_ListaDeseos_Usuario] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MetodoPa__75E3EFCF63A345EE]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[MetodoPago] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__06370DACB4734ED1]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[Producto] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Proveedo__D6F931E5CCF5F21B]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[Proveedor] ADD UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__75E3EFCFAA09AD13]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__60695A193BA4E085]    Script Date: 5/8/2026 06:32:30 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraSistema] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Carrito] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Carrito] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[CompraProveedor] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[CompraProveedor] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[CompraProveedor] ADD  DEFAULT ((0)) FOR [Impuesto]
GO
ALTER TABLE [dbo].[CompraProveedor] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[CompraProveedor] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Descuento] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[DetalleListaDeseos] ADD  DEFAULT (getdate()) FOR [FechaAgregado]
GO
ALTER TABLE [dbo].[DetallePedido] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[DetallePedido] ADD  DEFAULT ((0)) FOR [Impuesto]
GO
ALTER TABLE [dbo].[DetalleProforma] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[DetalleProforma] ADD  DEFAULT ((0)) FOR [Impuesto]
GO
ALTER TABLE [dbo].[DireccionUsuario] ADD  DEFAULT ((0)) FOR [Principal]
GO
ALTER TABLE [dbo].[DireccionUsuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Envio] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[EstadoPago] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[EstadoPedido] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[EvaluacionProducto] ADD  DEFAULT (getdate()) FOR [FechaEvaluacion]
GO
ALTER TABLE [dbo].[EvaluacionProducto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT (getdate()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[FamiliaProducto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[HistorialAcceso] ADD  DEFAULT (getdate()) FOR [FechaAcceso]
GO
ALTER TABLE [dbo].[Impuesto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Inventario] ADD  DEFAULT ((0)) FOR [CantidadDisponible]
GO
ALTER TABLE [dbo].[Inventario] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[ListaDeseos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[MetodoPago] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[MovimientoInventario] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[Notificacion] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Notificacion] ADD  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[Notificacion] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [Impuesto]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((5)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ProductoProveedor] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Proforma] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Proforma] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[Proforma] ADD  DEFAULT ((0)) FOR [Impuesto]
GO
ALTER TABLE [dbo].[Proforma] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Proforma] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Proforma] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[BitacoraSistema]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[BitacoraSistema] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [FK_Carrito_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [FK_Carrito_Usuario]
GO
ALTER TABLE [dbo].[Categoria]  WITH CHECK ADD  CONSTRAINT [FK_Categoria_Familia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[FamiliaProducto] ([IdFamilia])
GO
ALTER TABLE [dbo].[Categoria] CHECK CONSTRAINT [FK_Categoria_Familia]
GO
ALTER TABLE [dbo].[CategoriaDescuento]  WITH CHECK ADD  CONSTRAINT [FK_CategoriaDescuento_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[CategoriaDescuento] CHECK CONSTRAINT [FK_CategoriaDescuento_Categoria]
GO
ALTER TABLE [dbo].[CategoriaDescuento]  WITH CHECK ADD  CONSTRAINT [FK_CategoriaDescuento_Descuento] FOREIGN KEY([IdDescuento])
REFERENCES [dbo].[Descuento] ([IdDescuento])
GO
ALTER TABLE [dbo].[CategoriaDescuento] CHECK CONSTRAINT [FK_CategoriaDescuento_Descuento]
GO
ALTER TABLE [dbo].[CompraProveedor]  WITH CHECK ADD  CONSTRAINT [FK_CompraProveedor_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[CompraProveedor] CHECK CONSTRAINT [FK_CompraProveedor_Proveedor]
GO
ALTER TABLE [dbo].[CompraProveedor]  WITH CHECK ADD  CONSTRAINT [FK_CompraProveedor_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[CompraProveedor] CHECK CONSTRAINT [FK_CompraProveedor_Usuario]
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCarrito_Carrito] FOREIGN KEY([IdCarrito])
REFERENCES [dbo].[Carrito] ([IdCarrito])
GO
ALTER TABLE [dbo].[DetalleCarrito] CHECK CONSTRAINT [FK_DetalleCarrito_Carrito]
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCarrito_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleCarrito] CHECK CONSTRAINT [FK_DetalleCarrito_Producto]
GO
ALTER TABLE [dbo].[DetalleCompraProveedor]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Compra] FOREIGN KEY([IdCompraProveedor])
REFERENCES [dbo].[CompraProveedor] ([IdCompraProveedor])
GO
ALTER TABLE [dbo].[DetalleCompraProveedor] CHECK CONSTRAINT [FK_DetalleCompra_Compra]
GO
ALTER TABLE [dbo].[DetalleCompraProveedor]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleCompraProveedor] CHECK CONSTRAINT [FK_DetalleCompra_Producto]
GO
ALTER TABLE [dbo].[DetalleListaDeseos]  WITH CHECK ADD  CONSTRAINT [FK_DetalleListaDeseos_Lista] FOREIGN KEY([IdListaDeseos])
REFERENCES [dbo].[ListaDeseos] ([IdListaDeseos])
GO
ALTER TABLE [dbo].[DetalleListaDeseos] CHECK CONSTRAINT [FK_DetalleListaDeseos_Lista]
GO
ALTER TABLE [dbo].[DetalleListaDeseos]  WITH CHECK ADD  CONSTRAINT [FK_DetalleListaDeseos_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleListaDeseos] CHECK CONSTRAINT [FK_DetalleListaDeseos_Producto]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Pedido] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Pedido]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Producto]
GO
ALTER TABLE [dbo].[DetalleProforma]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProforma_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleProforma] CHECK CONSTRAINT [FK_DetalleProforma_Producto]
GO
ALTER TABLE [dbo].[DetalleProforma]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProforma_Proforma] FOREIGN KEY([IdProforma])
REFERENCES [dbo].[Proforma] ([IdProforma])
GO
ALTER TABLE [dbo].[DetalleProforma] CHECK CONSTRAINT [FK_DetalleProforma_Proforma]
GO
ALTER TABLE [dbo].[DireccionUsuario]  WITH CHECK ADD  CONSTRAINT [FK_DireccionUsuario_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[DireccionUsuario] CHECK CONSTRAINT [FK_DireccionUsuario_Usuario]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [FK_Envio_Direccion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[DireccionUsuario] ([IdDireccion])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [FK_Envio_Direccion]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [FK_Envio_Pedido] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [FK_Envio_Pedido]
GO
ALTER TABLE [dbo].[EvaluacionProducto]  WITH CHECK ADD  CONSTRAINT [FK_Evaluacion_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[EvaluacionProducto] CHECK CONSTRAINT [FK_Evaluacion_Producto]
GO
ALTER TABLE [dbo].[EvaluacionProducto]  WITH CHECK ADD  CONSTRAINT [FK_Evaluacion_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[EvaluacionProducto] CHECK CONSTRAINT [FK_Evaluacion_Usuario]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Pedido] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Pedido]
GO
ALTER TABLE [dbo].[FamiliaDescuento]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaDescuento_Descuento] FOREIGN KEY([IdDescuento])
REFERENCES [dbo].[Descuento] ([IdDescuento])
GO
ALTER TABLE [dbo].[FamiliaDescuento] CHECK CONSTRAINT [FK_FamiliaDescuento_Descuento]
GO
ALTER TABLE [dbo].[FamiliaDescuento]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaDescuento_Familia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[FamiliaProducto] ([IdFamilia])
GO
ALTER TABLE [dbo].[FamiliaDescuento] CHECK CONSTRAINT [FK_FamiliaDescuento_Familia]
GO
ALTER TABLE [dbo].[HistorialAcceso]  WITH CHECK ADD  CONSTRAINT [FK_HistorialAcceso_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[HistorialAcceso] CHECK CONSTRAINT [FK_HistorialAcceso_Usuario]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Producto]
GO
ALTER TABLE [dbo].[ListaDeseos]  WITH CHECK ADD  CONSTRAINT [FK_ListaDeseos_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[ListaDeseos] CHECK CONSTRAINT [FK_ListaDeseos_Usuario]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoInventario_Inventario] FOREIGN KEY([IdInventario])
REFERENCES [dbo].[Inventario] ([IdInventario])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovimientoInventario_Inventario]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoInventario_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovimientoInventario_Usuario]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Usuario]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_EstadoPago] FOREIGN KEY([IdEstadoPago])
REFERENCES [dbo].[EstadoPago] ([IdEstadoPago])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_EstadoPago]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_MetodoPago] FOREIGN KEY([IdMetodoPago])
REFERENCES [dbo].[MetodoPago] ([IdMetodoPago])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_MetodoPago]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Pedido] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([IdPedido])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Pedido]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_EstadoPedido] FOREIGN KEY([IdEstadoPedido])
REFERENCES [dbo].[EstadoPedido] ([IdEstadoPedido])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_EstadoPedido]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Usuario]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Impuesto] FOREIGN KEY([IdImpuesto])
REFERENCES [dbo].[Impuesto] ([IdImpuesto])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Impuesto]
GO
ALTER TABLE [dbo].[ProductoDescuento]  WITH CHECK ADD  CONSTRAINT [FK_ProductoDescuento_Descuento] FOREIGN KEY([IdDescuento])
REFERENCES [dbo].[Descuento] ([IdDescuento])
GO
ALTER TABLE [dbo].[ProductoDescuento] CHECK CONSTRAINT [FK_ProductoDescuento_Descuento]
GO
ALTER TABLE [dbo].[ProductoDescuento]  WITH CHECK ADD  CONSTRAINT [FK_ProductoDescuento_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[ProductoDescuento] CHECK CONSTRAINT [FK_ProductoDescuento_Producto]
GO
ALTER TABLE [dbo].[ProductoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_ProductoProveedor_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[ProductoProveedor] CHECK CONSTRAINT [FK_ProductoProveedor_Producto]
GO
ALTER TABLE [dbo].[ProductoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_ProductoProveedor_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[ProductoProveedor] CHECK CONSTRAINT [FK_ProductoProveedor_Proveedor]
GO
ALTER TABLE [dbo].[Proforma]  WITH CHECK ADD  CONSTRAINT [FK_Proforma_Direccion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[DireccionUsuario] ([IdDireccion])
GO
ALTER TABLE [dbo].[Proforma] CHECK CONSTRAINT [FK_Proforma_Direccion]
GO
ALTER TABLE [dbo].[Proforma]  WITH CHECK ADD  CONSTRAINT [FK_Proforma_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Proforma] CHECK CONSTRAINT [FK_Proforma_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [CK_Carrito_Estado] CHECK  (([Estado]='Abandonado' OR [Estado]='Comprado' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [CK_Carrito_Estado]
GO
ALTER TABLE [dbo].[Descuento]  WITH CHECK ADD  CONSTRAINT [CK_Descuento_Fechas] CHECK  (([FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[Descuento] CHECK CONSTRAINT [CK_Descuento_Fechas]
GO
ALTER TABLE [dbo].[Descuento]  WITH CHECK ADD  CONSTRAINT [CK_Descuento_Porcentaje] CHECK  (([Porcentaje]>(0) AND [Porcentaje]<=(100)))
GO
ALTER TABLE [dbo].[Descuento] CHECK CONSTRAINT [CK_Descuento_Porcentaje]
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD  CONSTRAINT [CK_DetalleCarrito_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleCarrito] CHECK CONSTRAINT [CK_DetalleCarrito_Cantidad]
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD  CONSTRAINT [CK_DetalleCarrito_Precio] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[DetalleCarrito] CHECK CONSTRAINT [CK_DetalleCarrito_Precio]
GO
ALTER TABLE [dbo].[DetalleCompraProveedor]  WITH CHECK ADD  CONSTRAINT [CK_DetalleCompra_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleCompraProveedor] CHECK CONSTRAINT [CK_DetalleCompra_Cantidad]
GO
ALTER TABLE [dbo].[DetalleCompraProveedor]  WITH CHECK ADD  CONSTRAINT [CK_DetalleCompra_Precio] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[DetalleCompraProveedor] CHECK CONSTRAINT [CK_DetalleCompra_Precio]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [CK_DetallePedido_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [CK_DetallePedido_Cantidad]
GO
ALTER TABLE [dbo].[DetalleProforma]  WITH CHECK ADD  CONSTRAINT [CK_DetalleProforma_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleProforma] CHECK CONSTRAINT [CK_DetalleProforma_Cantidad]
GO
ALTER TABLE [dbo].[DetalleProforma]  WITH CHECK ADD  CONSTRAINT [CK_DetalleProforma_Precio] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[DetalleProforma] CHECK CONSTRAINT [CK_DetalleProforma_Precio]
GO
ALTER TABLE [dbo].[EvaluacionProducto]  WITH CHECK ADD  CONSTRAINT [CK_Evaluacion_Calificacion] CHECK  (([Calificacion]>=(1) AND [Calificacion]<=(5)))
GO
ALTER TABLE [dbo].[EvaluacionProducto] CHECK CONSTRAINT [CK_Evaluacion_Calificacion]
GO
ALTER TABLE [dbo].[Impuesto]  WITH CHECK ADD  CONSTRAINT [CK_Impuesto_Porcentaje] CHECK  (([Porcentaje]>=(0) AND [Porcentaje]<=(100)))
GO
ALTER TABLE [dbo].[Impuesto] CHECK CONSTRAINT [CK_Impuesto_Porcentaje]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [CK_Inventario_Cantidad] CHECK  (([CantidadDisponible]>=(0)))
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [CK_Inventario_Cantidad]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [CK_MovimientoInventario_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [CK_MovimientoInventario_Cantidad]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [CK_MovimientoInventario_Tipo] CHECK  (([TipoMovimiento]='Ajuste' OR [TipoMovimiento]='Salida' OR [TipoMovimiento]='Entrada'))
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [CK_MovimientoInventario_Tipo]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Estado] CHECK  (([Estado]='Rechazado' OR [Estado]='Aprobado' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Estado]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Monto] CHECK  (([Monto]>=(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Monto]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [CK_Pedido_Estado] CHECK  (([Estado]='Cancelado' OR [Estado]='Entregado' OR [Estado]='Enviado' OR [Estado]='Pagado' OR [Estado]='Confirmado' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [CK_Pedido_Estado]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK_Producto_Costo] CHECK  (([Costo]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK_Producto_Costo]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK_Producto_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK_Producto_Precio]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK_Producto_StockMinimo] CHECK  (([StockMinimo]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK_Producto_StockMinimo]
GO
ALTER TABLE [dbo].[ProductoProveedor]  WITH CHECK ADD  CONSTRAINT [CK_ProductoProveedor_Precio] CHECK  (([PrecioCompra]>=(0)))
GO
ALTER TABLE [dbo].[ProductoProveedor] CHECK CONSTRAINT [CK_ProductoProveedor_Precio]
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarProductos]    Script Date: 5/8/2026 06:32:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   PROCEDIMIENTO: CONSULTAR PRODUCTOS
   ============================================================ */

CREATE PROCEDURE [dbo].[sp_ConsultarProductos]
    @IdCategoria INT = NULL,
    @Nombre VARCHAR(150) = NULL,
    @PrecioMin DECIMAL(12,2) = NULL,
    @PrecioMax DECIMAL(12,2) = NULL
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        P.IdProducto,
        P.Nombre,
        P.Imagen,
        C.Nombre AS Categoria,
        F.Nombre AS Familia,
        P.Precio,
        I.CantidadDisponible AS Stock
    FROM Producto P

    INNER JOIN Categoria C
        ON P.IdCategoria = C.IdCategoria

    INNER JOIN FamiliaProducto F
        ON C.IdFamilia = F.IdFamilia

    INNER JOIN Inventario I
        ON P.IdProducto = I.IdProducto

    WHERE P.Estado = 1

      AND
      (
          @IdCategoria IS NULL
          OR P.IdCategoria = @IdCategoria
      )

      AND
      (
          @Nombre IS NULL
          OR P.Nombre LIKE '%' + @Nombre + '%'
      )

      AND
      (
          @PrecioMin IS NULL
          OR P.Precio >= @PrecioMin
      )

      AND
      (
          @PrecioMax IS NULL
          OR P.Precio <= @PrecioMax
      )

    ORDER BY P.Nombre;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductosMasVendidos]    Script Date: 5/8/2026 06:32:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   PROCEDIMIENTO: PRODUCTOS MÁS VENDIDOS
   ============================================================ */

CREATE PROCEDURE [dbo].[sp_ProductosMasVendidos]
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        P.IdProducto,
        P.Nombre,
        SUM(DP.Cantidad) AS CantidadVendida,
        SUM(DP.Subtotal) AS TotalVentas
    FROM DetallePedido DP

    INNER JOIN Producto P
        ON DP.IdProducto = P.IdProducto

    INNER JOIN Pedido PE
        ON DP.IdPedido = PE.IdPedido

    WHERE CAST(PE.FechaPedido AS DATE)
          BETWEEN @FechaInicio AND @FechaFin

      AND PE.Estado IN
          ('Pagado', 'Enviado', 'Entregado')

    GROUP BY
        P.IdProducto,
        P.Nombre

    ORDER BY CantidadVendida DESC;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductosStockBajo]    Script Date: 5/8/2026 06:32:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   PROCEDIMIENTO: PRODUCTOS CON STOCK BAJO
   ============================================================ */

CREATE PROCEDURE [dbo].[sp_ProductosStockBajo]
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        P.IdProducto,
        P.Nombre,
        I.CantidadDisponible,
        P.StockMinimo
    FROM Producto P

    INNER JOIN Inventario I
        ON P.IdProducto = I.IdProducto

    WHERE I.CantidadDisponible <= P.StockMinimo

    ORDER BY I.CantidadDisponible ASC;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 5/8/2026 06:32:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   PROCEDIMIENTO: REGISTRAR USUARIO
   ============================================================ */

CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]
    @IdRol INT,
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Correo VARCHAR(150),
    @Contrasena VARCHAR(255),
    @Telefono VARCHAR(20) = NULL
AS
BEGIN

    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Usuario
        WHERE Correo = @Correo
    )
    BEGIN
        THROW 50001, 'El correo ya está registrado.', 1;
    END;

    INSERT INTO Usuario
    (
        IdRol,
        Nombre,
        Apellido,
        Correo,
        Contrasena,
        Telefono
    )
    VALUES
    (
        @IdRol,
        @Nombre,
        @Apellido,
        @Correo,
        @Contrasena,
        @Telefono
    );

END;
GO
USE [master]
GO
